<div class="portfolio-item width-1-4 {{ classes }}" data-groups='["{{ groups }}"]'  data-title="{{ title }}">
    <div class="portfolio-item__image">
        <img src="http://lorempixel.com/g/{{ img }}" alt="">
    </div>
    <div class="portfolio-item__caption">
        <div class="portfolio-item__title">
            <p>{{ title }}</p>
        </div>
        <div class="portfolio-item__text">
            <p>{{ text }}</p>
        </div>
    </div>
</div>